<div class="properties-wrapper">
  <div class="properties-header header blue">
    <h4 class="title-with-one-icon">{{title}}</h4>
    <i (click)="close()" class="btn fa fa-close"></i>
  </div>
  <div class="properties-body">
    <md-input-container>
      <input mdInput placeholder="Name" [(ngModel)]="properties.name">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="City" [(ngModel)]="properties.city.name">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Template" [(ngModel)]="properties.templateUrl">
    </md-input-container>
    <md-input-container>
      <textarea mdInput placeholder="Texts" [(ngModel)]="properties.texts"></textarea>
    </md-input-container>
    <md-input-container>
      <textarea mdInput placeholder="Images" [(ngModel)]="properties.imagesUrl"></textarea>
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Time Duration(Seconds)" [(ngModel)]="properties.timeDuration">
    </md-input-container>
    <md-input-container>
      <textarea mdInput placeholder="Screens" [(ngModel)]="properties.screens"></textarea>
    </md-input-container>
    <md-input-container>
      <input mdInput [(ngModel)]="properties.fromDate" [mdDatepicker]="pickerFrom" placeholder="From Date">
      <button mdSuffix [mdDatepickerToggle]="pickerFrom"></button>
    </md-input-container>
    <md-datepicker #pickerFrom></md-datepicker>
    <md-input-container>
      <input mdInput [(ngModel)]="properties.toDate" [mdDatepicker]="pickerTo" placeholder="To Date">
      <button mdSuffix [mdDatepickerToggle]="pickerTo"></button>
    </md-input-container>
    <md-datepicker #pickerTo></md-datepicker>

  </div>
  <div class="property-footer">
    <button class="gray" md-button (click)="close()">Cancel</button>
    <button class="blue" md-button (click)="save()">Save</button>
  </div>
</div>

