.screen-container {
  width: 100%;
  height: 50%;
  margin: 10px;
  vertical-align: middle;
}
.screen-header{
  height: 25%;
}

.screen-body {
  height: 70%;
  border: 1px solid;
  overflow: auto;
  box-sizing: border-box;
}
.screen-content{

}
