$properties-width-open: 300px;
$properties-width-closed: 10px;
$properties-margin: 15px;

md-sidenav {
  width: $properties-width-open;
  padding: 0px 0px 20px 0px;
  border: 1px solid #7d7d7d;
  margin-left: 10px;
  box-sizing: border-box;
}

md-sidenav-container {
  font-size: 12px;
  .mat-sidenav {
    top: 10px;
    height: 90%;
  }

  .mat-sidenav-backdrop.mat-sidenav-shown {
    display: none;
  }
}

.grid-container {
  .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell {
    padding-top: 5px;
  }
  padding: 10px;
  box-sizing: border-box;
  &.full-width {
    width: 100%;
  }
  &.mid-size {
    width: calc(100% - #{$properties-margin})
  }
}

.properties-container {
  height: 100%;
  &.open {
    width: $properties-width-open;
  }
  &.close {
    width: $properties-width-closed;
  }
}

.grid-header {
  color: white;
}


