<md-sidenav-container class="app-container">
  <md-sidenav [align]="'end'" [disableClose]="false" [mode]="'side'" #propertiesRef>
    <div class="properties-container">
      <admin-properties *ngIf="currentItem"
                        (onClose)="hideProperties()"
                        (onSave)="saveProperties($event)"
                        [properties]="currentItem"
                        [title]="currentItem.name"></admin-properties>
    </div>
  </md-sidenav>
  <div class="search-bar">
    <search (onSearchResultsReady)="searchResultsReady($event)"></search>
  </div>
  <div class="grid-container" *ngIf="rows"
       [ngClass]="{'full-width': !propertiesRef.opened, 'mid-size': propertiesRef.opened}">
    <div class="grid-header header blue">
      <h4 class="title-with-two-icons">Ads</h4>

      <i (click)="addNewAd()" title="Add New Ad" class="btn btn-add fa fa-plus"></i>
      <i (click)="deleteAd()" title="Remove Selected Ad" class="btn btn-add fa fa-trash"></i>
    </div>
    <div class="grid-content">
      <ngx-datatable #mainGridRef
                     class="material"
                     [columnMode]="'force'"
                     [selectionType]="'single'"
                     (select)="onRowClicked($event)"
                     [rows]="rows"
                     [columns]="cols">
      </ngx-datatable>
    </div>
  </div>
  <div class="grid-container"
       [ngClass]="{'full-width': !propertiesRef.opened, 'mid-size': propertiesRef.opened}">
    <div class="grid-header header blue">
      <h4 class="title-with-two-icons">Ads Count by City</h4>
    </div>
    <div class="grid-content">
      <ngx-datatable #mainGridRef
                     class="material"
                     [columnMode]="'force'"
                     [selectionType]="'single'"
                     [rows]="adsCountRows"
                     [columns]="adsCountCols">
      </ngx-datatable>
    </div>
  </div>
</md-sidenav-container>
